body {
    margin: 0;
    padding: 0;
    background-color: rgb(210,220,230);
    font-family: arial,sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(205,216,228);
}

a:hover {
    color: rgb(225,236,248);
}

.flink {
    color: rgb(10,20,30);
}

.flink:hover {
    color: rgb(30,40,50);
}

button {
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 11px;
    color: rgb(205,216,228);
    text-shadow: 0 -1px rgb(46,53,58);
    text-decoration: none;
    user-select: none;
    line-height: 2em;
    padding: 1px 1.2em;
    outline: none;
    border: 1px solid rgba(33,43,52,1);
    border-radius: 3px;
    background: rgb(81,92,102) linear-gradient(rgb(81,92,102), rgb(69,78,87));
    box-shadow:
            inset 0 1px rgba(101,114,126,1),
            inset 0 0 1px rgba(140,150,170,.8),
            0 1px rgb(83,94,104),
            0 0 1px rgb(86,96,106);
}

button:active {
    box-shadow:
            inset 0 1px 3px rgba(0,10,20,.5),
            0 1px rgb(83,94,104),
            0 0 1px rgb(86,96,106);
}


.logo {
    width: 44em;
    margin: 2em auto;
    padding: 1em 0;
}

.message {
    margin: 0;
    padding: 0 0 1em 0;
    text-align: center;
}

.accept {
    color: rgb(0,235,0);
}

.denied {
    color: rgb(255,0,20);
}

.container {
    width: 80em;
    margin: 0 auto;
    padding: 0;
}

.err {
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 5em auto;
    background-color: rgb(200,210,220);
}

.stack_trace {
    vertical-align: top;
}

.user_form {
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    border: solid 1px black;
    border-radius: 1em;
    background-color: rgb(42,52,62);
    color: rgb(205,216,228);
}

.user_form caption {
    color: black;
}

.submit {
    padding-top: 1em;
    text-align: center;
}

.links {
    width: 80em;
    margin: 1em auto;
    text-align: center;
}

.links a{
    color: rgb(10,20,30);
}

.links a:hover{
    color: rgb(30,40,50);
}

.main{
    width: 70em;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(42,52,62);
    color: rgb(205,216,228);
}

.header {
    margin: 0;
    padding: 0;
}

.header div {
    margin: 0;
    padding: 0.5em;
    text-align:right;
    background-color: rgb(23,27,31);
    border-bottom: solid 1px gray;
    border-right: solid 1px gray;
    border-left: solid 1px gray;
}

.user_panel {
    margin: 0;
    padding: 0;
}

.user_panel li{
    margin: 0 0.3em;
    padding: 0;
    display: inline;
    list-style: none;
}

.left_panel {
    width: 18em;
    margin: 0;
    padding: 0;
    vertical-align:top;
}

.menu {
    margin: 0;
    padding: 0;
}

.menu form {
    width: 12em;
    margin: 5em auto;
    padding: 0;
}

.menu button {
    width: 13em;
    margin: 0.2em;
}

.menu input {
    width: 11em;
    margin-top: 0.2em;
}

.content {
    margin: 0;
    padding: 0;
    vertical-align:top;
}

.content div {
    margin: 0 1em 0 0;
    padding: 0;
}

.page_title {
    margin: 0.5em 0;
    padding: 0;
    text-align:center;
}

.general_action {
    margin: 0;
    padding: 0.3em 0;
    text-align: right;
}

.general_action li {
    margin: 0 0.3em;
    padding: 0;
    display: inline;
    list-style: none;
}

.edit_form {
    width: 60%;
    margin: 0 auto 0.5em auto;
    padding: 0.2em;
    border: solid 1px rgb(180,180,180);
    border-radius: 0.8em;
    background-color: rgb(180,190,200);
}

.edit_form textarea {
    width: 30em;
    height: 10em;
    resize: none;
}

.unload {
    text-align: right;
}

.todo {
    width: 100%;
    margin-bottom: 0.5em;
    padding: 0.2em;
    border: solid 1px rgb(180,180,180);
    border-radius: 0.8em;
    background-color: rgb(180,190,200);
}

.title {
    margin: 0;
    padding: 0;
    font-weight:bold;
}

.file {
    margin: 0;
    padding: 0;
    text-align: right;
}

.todo_action {
    width:8em;
    margin: 0;
    padding: 0;
    text-align: center;
    border-left: solid 1px black;
}

.todo_action form {
    margin: 0;
    padding: 0;
}

.todo_action button {
    width: 6em;
}

.text {
    margin: 0;
    padding: 0;
    border-top: solid 1px black;
}

.footer {
    margin: 0;
    padding: 0;
    background-color: rgb(23,27,31);
}

.footer div {
    margin: 0;
    padding: 0.5em;
    text-align: center;
    background-color: rgb(23,27,31);
    border-top: solid 1px gray;
    border-right: solid 1px gray;
    border-left: solid 1px gray;
}